// Definitions
$light-purple: #BE97C6;
$dark-purple: #725D68;
$light-green: #91F5AD;
$icky-green: #C2E812;
$red: #A5243D;
$white: #fff;
$real-black: #000;
$black: #232323;

// Overrides for bulma and general assignments
$primary: $light-purple;
$info: $dark-purple;
$success: $light-green;
$warning: $icky-green;
$danger: $red;