@import 'variables';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.button-group-label {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
